@font-face {
  font-family: latoregular;
  src: url(../fonts/Lato-Regular.ttf);
  font-family: gothamblack;
  src: url(fonts/Gotham-1.ttf) format('truetype');
  font-family: opensans;
  src: url(fonts/opensans.woff2) format('woff2'), url(fonts/opensans.woff) format('woff'), url(fonts/opensans.ttf) format('truetype');
  font-family: lato-bold;
  src: url(../fonts/Lato.ttf);
}

.font-fam-lato {
  font-family: latoregular;
}

.font-fam-gothamblack {
  font-family: gothamblack;
}

.font-fam-lato-bold {
  font-family: lato-bold;
}

.font-fam-lato {
  font-family: "lato";
}

.font-fam-opensans {
  font-family: "Open Sans";

}